<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Golfap Books Online Store</title>
  <%= stylesheet_link_tag 'depot', :media => "all" %>
</head>
<body id="store">
	<div id="banner">
		 <!-- START:i18n -->
	  <% form_tag '', :method => 'GET', :class => 'locale' do %>
	    <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale),
	      :onchange => 'this.form.submit()' %>
	    <%= submit_tag 'submit' %>
	    <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
	  <% end %>
	  <!-- END:i18n -->
		<!-- END_HIGHLIGHT -->
		<%= image_tag("logo.gif", :size => "50x50", :alt => "Golfap Books") %>
		<%= @page_title || I18n.t('layout.title') %>
	</div>
	<div id="columns">
		<div id="side">
			<!-- <div id="cart"> -->
			  <%# render(:partial => "cart/cart", :object => @cart) %> 
			<!--</div> -->
			<% if @cart %> 
				<% hidden_div_if(@cart.items.empty?, :id => "cart") do %> 
					<%= render(:partial => "cart/cart", :object => @cart) %> 
				<% end %> 
			<% end %>
			<ul>
				<li><a href="/store"><%= I18n.t 'layout.side.home' %></a></li> <%# @root_url %>
				<li><a href="/questions"><%= I18n.t 'layout.side.questions' %></a></li>
				<li><a href="/news"><%= I18n.t 'layout.side.news' %></a></li>
				<li><a href="/contact"><%= I18n.t 'layout.side.contact' %></a></li>
			</ul>
			
			<% if session[:user_id] %>
        <br />
				<ul id="admin_list">
        	<li><%= link_to 'Orders',   :controller => 'orders' %></li>
        	<li><%= link_to 'Products', :controller => 'products' %></li>
        	<li><%= link_to 'Users',    :controller => 'users'    %></li>
					<li><%= link_to 'Logout', 	:controller => 'admin', :action => 'logout' %></li>
        </ul>

        <%# link_to 'Logout', :controller => 'admin', :action => 'logout' %>
      <% end %>
			
		</div>
	</div>
	
  <div id="main">
	  <% if flash[:notice] -%>
			<div id="notice"><%= flash[:notice] %></div>
		<% end -%>
		<%= yield :layout %>
	</div>
</body>
</html>
