<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Golfap Books Online Store</title>
  <%= stylesheet_link_tag 'depot', :media => "all" %>
</head>
<body id="store">
	<div id="banner">
		<%= image_tag("logo.gif", :size => "50x50", :alt => "Golfap Books") %>
		<%= @page_title || "Golfap.com Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<div id="cart"> 
			  <%= render(:partial => "cart/cart", :object => @cart) %> 
			</div>
			<ul>
				<li><a href="/store">Home</a></li> <%# @root_url %>
				<li><a href="/questions">Questions</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
	
  <div id="main">
	  <% if flash[:notice] -%>
			<div id="notice"><%= flash[:notice] %></div>
		<% end -%>
		<%= yield :layout %>
	</div>
</body>
</html>
